html, body, .page-container, #root {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.dr-menu {
}

.dr-picture-grid {
}

.dr-post-wrapper {
}

.dr-post-description {
    transition: height 0.2s, margin-top 0.4s, opacity 0.5s;
    margin-top: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.dr-post:hover .dr-post-description {
    margin-top: 5px;
    height: auto;
    visibility: visible;
    opacity: 1;
}

a {
  text-decoration: none !important;
  font-weight: bold;
  color: #dd8383 !important;
}

a:hover {
  color: #c45555 !important;
}

a:active {
  color: #ffc4c4 !important;
}

.dr-post-description-content {
    max-height: 300px;
    overflow: auto;
}
